.sidebar {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -101%;
	padding-bottom: 101%;
}

.float-right {
	float: right;
}

.black-link {
	color: black;
}

ul {
    list-style-type: none;
}

.container {
    background-image: url("../img/music.jpg");
    background-repeat: no-repeat;
    background-size: 98% 98%;
}
